# Dependency directories
node_modules/
dist/

# Logs and databases
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sqlite
*.sqlite3
*.log.*
*.sublime-project
*.sublime-workspace

# Editor directories and files
.vscode/
.idea/
.editorconfig
*.swp
*.swo
*~
*.tmproj
*.esproj

# OS-specific files
.DS_Store
Thumbs.db

# Build files
.DS_Store
*.tgz
*.test.ts
*.test.js
*.test.cjs
.ccache
